@media screen and (max-width:600px) {
    .apresentacao {
        height: 520px;
    }

        .parteEsquerda{
            width: 60%;
        }

        .parteDireita{
            width: 60%;
        }

        .logo {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }

        .linha1{
            width: 200px;
        }

        .linha2{
            width: 130px;
        }

        .opcoes{
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 25px;
            padding-left: 40px;
        }

        .opcoes h4 {
            margin-bottom: 20px;
        }
    
}