@media screen and (max-width:600px) {
    .apresentacao {
        height: 520px;
    }

        .parteEsquerda{
            width: 60%;
        }

        .parteDireita{
            width: 60%;
        }
        .apresentacao h4 {
            font-size: 15px;
        }
        .apresentacao h1 {
            font-size: 30px;
        }
        .logo {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }

        .linha1{
            width: 200px;
        }

        .linha2{
            width: 130px;
        }

        .opcoes{
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 25px;
            padding-left: 40px;
        }

        .opcoes h4 {
            margin-bottom: 20px;
        }

    .segundaParte{
        flex-direction: column;
    }
        .parteDireita2{
            margin-left: 0;
            margin-top: 30px;
        }
    
    .terceiraParte{
        flex-direction: column-reverse;
        align-items: center;
    }
        .parteEsquerda3{
            margin-top: 30px;
        }
    
    .footer {
        flex-direction: column;
        padding: 20px 30px;
        text-align: center;
    }
}