* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 300vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: green;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1500px;
    height: 460px;
    margin-top: 22px;
}
.parteEsquerda {
    padding: 20px;
    background-color: rgb(18, 18, 18);
    width: 50%;
    height: 100%;
}
.painelLogo {
    height: 20px;
    width: 110px;
    background-color: blue;
    margin-bottom: 30px;
    border-radius: 10px;
}
.logo{
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}
.pergunta{
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}
.descricao{
    font-size: 23px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.linha1 {
    background-color:greenyellow ;
    height: 16px;
    width: 570px;
}
.linha2 {
    background-color:aqua ;
    height: 16px;
    width: 420px;
}
.sublinhado {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    text-decoration: underline;
    text-decoration-color:greenyellow;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
}
.opcoes {
    color:white;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
    width: 100%;
}
.parteDireita {
    background-image: url(estacionamento.jpg);
    background-size: cover;
    background-position: bottom left;
    width: 50%;
    height: 100%;
    display: flex;
}
.inicio {
    text-decoration: underline;
    text-decoration-color:greenyellow;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
}
.sobre {
    text-decoration: underline;
    text-decoration-color:greenyellow;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
}
.contato {
    text-decoration: underline;
    text-decoration-color:greenyellow;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
}
.inicio :hover{
    font-size: 43px;
    text-decoration: underline;
    text-decoration-color:aqua;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
    transition: 2s;
}
.sobre :hover{
    font-size: 43px;
    text-decoration: underline;
    text-decoration-color:aqua;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
    transition: 2s;
}
.contato :hover{
    font-size: 43px;
    text-decoration: underline;
    text-decoration-color:aqua;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px; 
    text-underline-offset: 2px; 
    transition: 2s;
}
.segundaParte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1500px;
}
.parteEsquerda2{
    width: 310px;
    height: 400px;
    background-color:rgb(19, 19, 19);
    padding: 40px 25px;
}
.texto2{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}
.sobre{
    margin-bottom: 20px;
}
.parteDireita2{
    margin-left: 20px;
    width: 340px;
    height: 460px;
    background: var(rgb(19, 19, 19));
}
.terceiraParte{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1500px;
}
.parteEsquerda3,
.parteDireita3 {
    width: 350px;
    height: 460px;
}
.parteEsquerda3{
    background-image: url(estacionado.jpg);
    background-size: cover;
}