* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    margin: 0;
    max-width: 1500px;
    height: 460px;
}
.parteEsquerda {
    padding: 20px;
    background-color: rgb(36, 22, 99);
    width: 50%;
    height: 100%;
}
.pergunta{
    color: white;
}
.descricao{
    color: white;
}